
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    box-sizing: border-box;
}

.section1{
    display:fixed;
width: 100%;
float: left;
padding: 5px;
text-align: center;
}
section{
display:fixed;
width: 70%;
float: left;
padding: 5px;
text-align: left;
}
article{
    display:fixed;
    flex-grow: 1;
    
    width: 30%;
    float: right;
    padding: 10px;
    
}
.container{
    display: grid;
    align-items: left;
    grid-template-columns: 1fr 1fr ;
    column-gap: 50 px;
}
.text{
    font-size: 20px;
    text-align: left;
}
.kutija{
    width: 70%px;
    border: 3px;
    border-color: black;
    background-color:transparent;
    backdrop-filter: blur(5px);
    padding:20px;
    margin: px;
    
    
  }
header{
    background-color: rgb(30, 58, 82);
    padding: 45px;
    background: transparent;
    backdrop-filter: blur(10px);
    text-decoration: none;
    list-style-type: none;
   
}
header a{
    border-radius:15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0;
    padding: 10px;
    display: block;
    text-align: left;
}
header a:hover{

    background-color: rgb(201, 12, 12);
    transition: 0.5s ;
}
h1{
    font-size: 30px;
    text-align: left;
    
}
.h2{
    font-size: 50px;
    text-align: center;
}
header li{
    
    float: left;
    text-decoration: none;
    border-radius:35px;
    display: block;
    z-index: 9999;
}
header ul{
    float: right;
    border-radius:35px;
    margin: 5px;
    display: block;
    overflow: hidden;
}

.font1{
    font-family: 'Anton', sans-serif;
text-align: center;
font-size: 50px;
padding: 100px;
}
body{
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    color: aliceblue;
    display: flex;
    background-image: url("123.jpg");
    background-size: 100%;
    background-color: #cccccc;
    margin: 0px;
    min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main{
    margin: 30px ;
}

.navbar ul{
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    background-color: hsl(0, 6%, 14%);
    padding: 20px;
    margin: 0px;
    overflow: hidden;
    background: transparent;
    
}
.parallax {
    
    background-image: url("pozadina.jpg");
    min-height: 500px;
    margin-top:  40%;
    width: 100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.navbar a{
    
    border-radius:15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0px;
    padding: 15px;
    display: block;
    text-align: center;
    
}

.navbar a:hover{
    background-color: rgb(111, 79, 79);
    transition: 0.5s ;
    backdrop-filter: overlay(50%);
}
.navbar li{
    
    float: left;
    text-decoration: none;
}
footer{
    width: 100%;
    display: flex;
    clear: both;
    background-color: rgb(30, 58, 82);
    padding: 25px;
    position: sticky;
    top: 100%;
    background: transparent;
    backdrop-filter: blur(50px);
}
@media screen and (max-width:600px){
    section, article{
        width:100%;
    }
}